.banner-promo {
    position: relative; /* Fixa no topo da página */
    top: 0; /* Alinha ao topo */
    left: -1; /* Alinha à esquerda */
    width: 100%; /* Faz o banner ocupar toda a largura */
    background-color: #0f0f0f; /* Cor de fundo preto */
    color: #fff; /* Texto branco */
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Espaça os elementos */
    align-items: center; /* Centraliza os itens verticalmente */
    padding: 10px 20px; /* Espaçamento interno */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    order: 1; 
  }
  
  /* Estilizando o texto */
  .banner-texto span {
    font-size: 14px; /* Tamanho padrão */
    color: #f7eded; /* Cor do texto */
    margin-bottom: 9px; /* Espaço inferior entre os textos */
  }
  
  .sign-up-now {
    color: #007bff; /* Cor azul para destaque */
    font-weight: bold; /* Texto em negrito */
    cursor: pointer; /* Cursor de link */
    text-decoration: underline; /* Sublinha o texto */
  }
  
  /* Efeito ao passar o mouse no botão */
  .sign-up-now:hover {
    color: #0056b3; /* Azul mais escuro */
    text-decoration: none; /* Remove o sublinhado */
  }