.body-container {
  max-width: 1500px;  /* Limita a largura máxima do site */
  margin: 0 auto;     /* Centraliza o conteúdo na tela */
  width: 100%;        /* Garante que o conteúdo ocupe 100% da largura disponível até 1500px */
  box-sizing: border-box; /* Evita que padding e border aumentem o tamanho total */
  padding: 0 20px;    /* Adiciona um espaçamento interno para evitar que o conteúdo encoste nas bordas */
}

.titulo-principal {
  
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  top: 80px;
  left: calc(50% - 623px);
 
}



.sub-titulo {
font-size: 16px;
color: #807d7d;
position: relative;
top: 95px;
left: calc(50% - 625px);
}


/*Parte do botão shop now*/
.shop-now-wrapper {
text-align: center; /* Centraliza o botão horizontalmente */
margin-top: 40px; /* Adiciona espaço acima do botão */
position: relative;
top: 80px;
left: calc(50% - 624px);
}

.shop-now button {
display: flex;
justify-content: center;
width: 15%; /* Largura total no mobile */
max-width: 30%; /* Limite de largura no desktop */
background-color: black; /* Fundo preto */
color: white; /* Texto branco */
padding: 15px 30px; /* Espaçamento interno do botão */
border: none; /* Remove a borda padrão */
border-radius: 150px; /* Bordas arredondadas para criar o efeito oval */
font-size: 16px; /* Tamanho da fonte */
font-family: Arial, sans-serif; /* Escolha uma fonte clean */
cursor: pointer; /* Adiciona o cursor de mão ao passar sobre o botão */
transition: transform 0.2s, background-color 0.2s; /* Animações suaves */
}

.shop-now button:hover {
background-color: #807d7d;
transform: scale(1.05);

}

.fontes-img {
display: flex;
position: relative; /* Permite o posicionamento absoluto dos elementos filhos */
width: 100%; /* Ajuste conforme necessário */
height: 500px; /* Ajuste conforme necessário */
margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

.casal {
position: absolute;
top: -566px; /* Ajusta a posição vertical */
left: 77%; /* Centraliza horizontalmente */
transform: translateX(-50%); /* Garante que a imagem do casal fique centralizada */
width: 580px; /* Define o tamanho da imagem do casal */

}

.estrela2m-sem {
display: flex;
position: absolute;
top: -600px; /* Ajusta a posição vertical */
width: 50px; /* Define o tamanho da estrela menor */
left: calc(50% + 50px);
}

.estrela1-sem {
position: absolute;
top: -450px; /* Ajusta a altura para ficar alinhada à cabeça do homem */
left: calc(50% + 544px); /* Move a estrela maior para o lado direito da cabeça */
width: 90px; /* Define o tamanho da estrela maior */
}

/*PRDUTOS- NUMEROS*/
.produtos-numeros {
   
    display: flex;
    width: 90%; /* Ajuste conforme necessário */
    height: 200px; /* Ajuste conforme necessário */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    margin-top: 50px;
}

.numeros {
    font-family: sans-serif;
    font-size: 45px;
    margin: 50px;

}

/*.legenda {
    color: #807d7d;
    font-family: sans-serif;
    font-size: 20px;*/

.parent {
  font-family: Arial, sans-serif;
  flex-direction: row;
  display: flex;
  position: absolute;
  top: 500px; /* Ajusta a posição vertical altura */
  left: calc(50% - 675px);
  flex-direction: column;
}

.parent p {
  margin-top: -30px;
  font-size: 20px;
  font-family: sans-serif;
  color: #807d7d;
}

.High-Quality {
  font-family: Arial, sans-serif;
  flex-direction: row;
  display: flex;
  position: absolute;
  top: 500px; /* Ajusta a posição vertical altura */
  left: calc(50% - 458px);
  flex-direction: column;
}

.High-Quality p {
  margin-top: -30px;
  font-size: 20px;
  font-family: sans-serif;
  color: #807d7d;
}

.container {
    font-family: Arial, sans-serif;
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 500px; /* Ajusta a posição vertical altura */
    left: calc(50% - 222px);
    flex-direction: column;
}

.container p {
  margin-top: -30px;
  font-size: 20px;
  font-family: sans-serif;
  color: #807d7d;
  text-align: center;
}

.marcas {
  position: relative;
  background-color: #000;
  height: 150px;
  top: -390px;

}

.marcas img {
  
  position: relative;
  border-radius: 10px;
  height: 45px;
  padding: 5px;
  
}
.versace {
  position: relative;
  left: calc(50% - 796px);
  width: 500px;
  top: 50px;
  
}

.zara {
  position: relative;
  left: calc(50% - 873px);
  width: 150px;
  top: 50px;
}

.gucci {
  position: relative;
  left: calc(50% - 861px);
  width: 255px;
  top: 50px;
}
  
.prada {
  position: relative;
  left: calc(50% - 850px);
  width: 250px;
  top: 50px;
}

.calvin {
  position: relative;
  left: calc(50% + 351px);
  width: 350px;
  top: -10px;
}